.Input-Valor {
  margin: 10px 0;
}

.Input-Valor input, .Input-Valor .input {
  border: 1px solid var(--cor-cinza-medio);
  padding: 8px 12px;
  font-size: 0.95rem;
  border-radius: 10px;
}

.Input-Valor .input {
  background-color: var(--cor-cinza-claro);
  color: var(--cor-cinza-medio);
}

