.Input-Simples label {
  font-weight: 700;
}

.Input-Simples input {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--cor-cinza-medio);
  font-size: 0.95rem;
}

