.Input-Simples label {
  font-weight: 700;
}

.Input-Simples input {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--cor-cinza-medio);
  font-size: 0.95rem;
}

.Input-Simples .input-error {
  border: 1px solid red;
  box-shadow: 0 0 5px #a31d1d;
}

.Input-Simples .small-danger {
  color:  #a31d1d;
  font-size: 12px;
  display: block;
}