.button {
  font-size: 1rem;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #aaa;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.button-small {
  font-size: 0.8rem;
  padding: 9px 10px;
  margin: 3px;
  border-radius: 5px;
}

.button-danger {
  background-color: var(--cor-terciaria);
  color: var(--cor-branca);
  border: 0;
}

.button-warning {
  background-color: var(--cor-amarelo);
  color: var(--cor-preta);
  border: 0;
}

.button-success {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  border: 0;
}

