body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
  --cor-tema: #070772;
  --cor-primaria: #0a63a7;
  --cor-secundaria: #118311;
  --cor-terciaria: #b01616;
  --cor-amarelo: #dccc1a;

  --cor-perta: #000;
  --cor-branca: #fff;
  --cor-cinza-claro: #eee;
  --cor-cinza-escuro: #222;
}

.full-width { width: 100%;}
.full-height { height: 100vh;}

/* FLEX */
.flex { display: flex }
.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }

.flex-1 {flex: 1; }
.flex-2 {flex: 2; }
.flex-3 {flex: 3; }

.flex-start,
.flex-end,
.flex-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: flex-center;
}